.nav{
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    height: 55px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav__content{
    display: flex;
    justify-content: space-between;
}

.nav__black{
    background-color: black;
}

.nav__logo{
    position: fixed;
    top: 10px;
    left:0;
    width: 150px;

    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.nav__avatar{
    cursor: pointer;
    position: fixed;
    right: 20px;
    width: 30px;
    width: 50px;
}